<div class='d-flex'>
    <div class="tab_container ">
        <input class="custom-hide " id="tab1" type="radio" name="tabs" checked>
        <label class='tab-label' for="tab1"><span class="">TWEETS</span></label>

        <input class="custom-hide " id="tab2" type="radio" name="tabs">
        <label class='tab-label' for="tab2"><span class="">PHOTOS</span></label>

        <input class="custom-hide " id="tab3" type="radio" name="tabs">
        <label class='tab-label' for="tab3"><span class="">VIDEOS</span></label>

        <section id="content1" class="tab-content custom-hide py-4">
            <div class="d-flex">
                <div class='profile-body d-flex'>
                    <div class='center-cont w-100'>

                        <div class="new-post-area p-4 mx-3 bg-white rounded">
                            <h5 class="text-light-grey h6 font-weight-bold">TWEET SOMETHING</h5>
                            <%= render 'tweetform', tweet: @tweet, mention: (@user.username unless @user.nil?) %>
                        </div>

                        <div class=' p-3 m-3 bg-white rounded'>
                            <p class='tweets-header pb-3 border-bottom'> <%=@tweets.size%> NEW TWEETS </P>
                            <%= render 'users_tweets', tweets: @tweets %>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="content2" class="tab-content custom-hide">
        <div class=' p-3 m-3 bg-white rounded'>
            <h2><br><br><br><br><br><br>comming soon!<br><br><br><br><br><br><br><br></h2>
        </div>
        </section>
        <section id="content3" class="tab-content custom-hide">
        <div class=' p-3 m-3 bg-white rounded'>
            <h2><br><br><br><br><br><br>comming soon!<br><br><br><br><br><br><br><br></h2>
        </div>
        </section>
    </div>
    <section class='px-3 border-left r-sidebar '>
        <div class='d-flex  justify-content-between border-bottom'>
            <h5 class='r-sidebar m-0 d-inline-block  '>WHO TO FOLLOW</h5>
            <a href='#' class="d-inline-block fa fa-refresh just align-self-center" ></a>
        </div>
        <div class='followed-by py-4'>
            <%= render 'whotofollow'%>
        </div>
    </section>
    </div>
</div>

</div>
</div>