/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 // Custom bootstrap variables must be set or imported *before* bootstrap.
 */
@import "bootstrap";

$original-blue: #588fe5;
$dark-blue: #213245;
$light-dark-blue: #3d609f;
$light-dark-blue-opacity: #3d5f9f80;
$light-blue: #5294e2;

a:hover {
  text-decoration: none;
}

.main {
  width: 82%;
  margin-left: 18%;
}

.sidebar {
  width: 18%;
  background-color: $dark-blue;
}

.right-sidebar {
  width: 30%;
}

.profile-body {
  width: 100%;
  // margin-left: 259px;
}

.bg-cinfo {
  background-color: $original-blue;
}

.leftbar-active {
  background-color: $light-blue;
  color: white!important;
}

.disabled {
  color: rgb(83, 83, 83);
  cursor: pointer;
}

.text-bluedark {
  color: $light-dark-blue!important;
}

.text-bluedark:hover {
  color: rgba(234, 234, 234, 0.5)!important;
}